
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

body{
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;

}

a{
    text-decoration: none;

}
 /* navigation */

nav{
    width: 100%;
    display: flex;
}


.top-line{
    display: flex;
    width: 100%;
}

.banner{
    width: 314px;
    height: 120px;
    top: 0px;
    border-radius: 0px;
    background-color: #1F344F;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner img{
    width: 200px;
    height: 116px;

    left: 34px;
    top: 4px;
    border-radius: 0px;

}

nav{
    width: 100%;

}

.nav-con{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-info{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #3EB549;
    justify-content: flex-end;

}
.phone-numb{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.phone-numb p{
    margin-top: 20px;
}
.phone-numb option{

    margin-right: 20px;
}
.navigation{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    
    
}


.navigation ul{
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.navigation li{
    display:inline-block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.navigation a{
    text-decoration: none;
    color: rgb(44, 32, 32);
    width: 100px;
    text-align: center;

}
 /* navigation */


.page-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-background{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}


.main-banner{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    margin-bottom: 100px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

}

.banner-title p{
    font-size: 64px;
    font-weight: 600;
}
.banner-text{
    font-size: 30px;
}


.banner-button button{
    background-color: #1F344F;
    color: white;
    border: none;
    font-size: 30px;
    font-weight: 400;
    border-radius: 54px;
    width: 370px;
    height: 80px;
}

@media only screen and (max-width: 1026px) {
    .banner-content {
        display: none;
    }
}

.main-subject{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
}



 /* IMAGE SECTION */

.menu-gallery{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.menu-gallery h1{
    padding:20px;
}

.gallery-aligner-menu{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.menu-gallery-items{

    width: 100% !important;
    display: flex;
    justify-content: center;

}

.contect-menu{
    display: flex;
    width: 100%;
}


.owl-carousel{
    width:1000px !important;  
}


.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    font-size: 50px !important;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.gallery-alt-text{
    display: flex;
    font-size: 20px;
    font-weight: 400;
}

.menu-gallery-button{
    display: flex;
    width: 100%;
    margin-left: 75px;
    justify-content: flex-end;
}

.menu-gallery-button button{
    background-color:#3EB549;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 400;
    border-radius: 54px;
    width: 260px;
    height: 56px;
}

.carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
  }
  .owl-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
  }

  .owl-dots{
      display: none;
  }

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
      background: #2caae1;
  }


  .owl-carousel .item {
      text-align: center;
  }
  .owl-carousel .nav-btn{
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 100px !important;
  }



  .owl-carousel .prev-slide{
      background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAo9oEluAWkOmHBbv4l0cqaytM_gHPhz9IyUr7N5o_8jErlZS8q2-HdeKibt_1aGLF0pI&usqp=CAU) no-repeat scroll 0 0;
      left: -33px;
      background-position: center;
        background-size: cover;
    background-color: white;
  }
  .owl-carousel .next-slide{
      background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAo9oEluAWkOmHBbv4l0cqaytM_gHPhz9IyUr7N5o_8jErlZS8q2-HdeKibt_1aGLF0pI&usqp=CAU) no-repeat scroll -24px 0px;
      background-position: center;
      right: -33px;
  }
  .owl-carousel .prev-slide:hover{
     background-position: 0px -53px;
  }
  .owl-carousel .next-slide:hover{
    background-position: -24px -53px;
  }

  span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
  }
  span.img-text:hover {
    color: #2caae1;
  }
 /* IMAGE SECTION */




 /* ABOUT US SECTION */

  .menu-about-us{
      display: flex;
      width: 100%;
      height: 560px;
  }

  .about-banner{
      display: flex;
      width: 100%;
      font-size: 64px;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      background-color: #3EB549;
      color: white;
    
}
  .about-us-more{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
 }

.about-us-info{
     display: flex;
     position: absolute;
     color: white;
     flex-direction: column;
 }

 .about-us-banner-title{
    font-size: 36px;
    font-weight: 400;
 }

 .about-us-button button{
    border: none;
    background-color: #3EB549;
    border-radius: 54px;
    font-size: 20px;
    font-weight: 400;
    width: 260px;
    height: 56px;
    color: white;
 }

 /* ABOUT US SECTION */

 /* ABOUT US SECTION */

.menu-new-things{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 800px;
    background: #E5E5E5;

    
}

.new-things-header{
    font-size: 64px;
    font-weight: 500;
}

.new-things-post{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.col-post{
    display: flex;
    flex-direction: column;
}
.inner-post{
    display: flex;
}

.card{
    display: flex;
    align-items: flex-end;
}

.card-box{
    padding: 20px;
}
.card-img-top{
    height: 200px;
    width: 400px;
}

.card-body{
    background-color: #1F344F;
    color: white;
}
.card-title{
    font-size: 24px;
    font-weight: 400;
}

.card-text{
    font-size: 20px;
    font-weight: 400;
}


.card-time{
    background-color: white;
    margin-right: 30px !important;
    margin-top: 150px !important;
    position: absolute;
    font-size: 24px;
    font-weight: 400;
}

.new-things-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.new-things-button button{
    background-color: #1F344F;
    border:none;
    font-size: 20px;
    font-weight: 400;
    height: 56px;
    width: 260px;
    border-radius: 54px;
    color: white;
}

  /* NEW THINGS SECTION */

footer{
    width: 100%;
    
}

.footer-part-1{
    width: 100%;
    display: flex;
    height: 290px;
}

.footer-column-1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.footer-column-alt-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-column-alt-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

  .footer-part-2{
      width: 100%;
      display: flex;
      height: 200px;
      align-items: center;

  }
  .footer-part-2 img{
    width: 100%;
    position: relative;
}


.footer-icon{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    
}

.footer-icon i{
    padding: 25px;
    size: 35px;
    font-size: 35px;
    color: white;
}