
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: 'Fira Sans', sans-serif;
}

body{
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;

}


a{
    display: inline-block;
    position: relative;
    color: #0087ca;
    text-decoration: none !important;
  }

  a:after {
    content: '';
    position: absolute;
    width: 95%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#3EB549;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  a:hover:after {
    transform: scaleX(1);
  }


 /* navigation */

nav{
    width: 100%;
    display: flex;
    background-color: white;
}


.top-line{
    display: flex;
    max-width: 100%;
    z-index: 3;
    height: 120px;
}

.x-navbar{
    display: flex;
    width: 320px;
    background-color: #3EB549;
    /* height: 200px;*/

}

.banner{
    height: 120px;
    width: 314px;
    border-bottom: 120px solid#1F344F;
    border-right: 70px solid transparent;
    top: 0px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;

}

.banner img{
    width: 200px;
    height: 116px;
    position: absolute;
    left: 34px;
    top: 4px;
    border-radius: 0px;

}


.nav-con{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.contact-info{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #3EB549;
    justify-content: flex-end;

}
.phone-numb{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
    color: white;

}

.phone-numb p{
    margin-top: 20px;
}
.phone-numb a{
    color: white;
}

.phone-numb a:hover{
    color: rgb(70, 255, 14);
    text-decoration: none;
}


.phone-numb option{
    background-color: transparent;
    margin-right: 20px;
}
.phone-numb button, input, optgroup, select, textarea {
    background-color: transparent;
    color: white;
    border: none;
}

.navigation{
    display: flex;
    width: 80%;
    align-items: flex-end;
    
}


.navigation ul{
    list-style-type: none;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.navigation li{
    display:inline-block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
}

.navigation a{
    text-decoration: none;
    color: rgb(44, 32, 32);
    width: 100px;
    text-align: center;

}

.navigation a:hover{
    color:#3EB549;
}
 /* navigation */


.page-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}


.main-background{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}


.main-banner{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    margin-bottom: 100px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

}

.banner-title p{
    font-size: 64px;
    font-weight: 600;
}
.banner-text{
    font-size: 30px;
}


.banner-button button{
    background-color: #1F344F;
    color: white;
    border: none;
    font-size: 30px;
    font-weight: 400;
    border-radius: 54px;
    width: 370px;
    height: 80px;
}

@media only screen and (max-width: 1026px) {
    .banner-content {
        display: none;
    }
}

.banner-button button:hover{
    background-color: #17273b;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 7%);
}


/*Main issues */

.main-background-2{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.main-issues{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    color: white;
}

.main-issues-banner{
    width: 100%;
    display:flex;
    margin-left: 120px;
}

.issues-tab{
    display: flex;
    color: black;
}



/* Style the tab */
.tab {
    display: flex;
    float: left;
    border: none;
    background-color: transparent;
    width: 20%;
    height: 498px;
    margin-right: 100px;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: transparent;
    padding: 22px 16px;
    margin-top: 20px;
    width: 392px;
    border: none;
    border-radius:250px !important;
    outline: none;
    text-align: left;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.3s;
    font: 400 17px Lato, sans-serif;
    color: #000000;
    font-size: 25px;
    margin-top: 20px;
}
.tab img{
    height: 50px;
    width: 50px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background: #F2F2F2;
    color:black;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background: #F2F2F2;
    color: #3EB549;
    font: 500 37px Lato, sans-serif;
}

.tab-options{
    display: flex;
    flex-direction: row;
}

.issues-icons{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    background-color: #3EB549;
    padding: 20px;
    border-radius: 50%;

}
.issues-button{
    display: flex;
    align-items: center;
}

/* Style the tab content */
.tabcontent {
    float: left;
    display: flex;
    padding: 0px 12px;
    border: 1px solid #ddd;
    width: 70%;
    border-left: none;
    height: 596px;
    width: 598px;
    padding: 40px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #F2F2F2;
}

/*Main issues */


 /* IMAGE SECTION */

.menu-gallery{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 650px;
    justify-content: center;

}

.menu-gallery h1{
    padding:40px;
    font-size: 64px;
    font-weight: 600;
}

.gallery-aligner-menu{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.menu-gallery-items{

    width: 100% !important;
    display: flex;
    justify-content: center;

}

.contect-menu{
    display: flex;
    width: 100%;
}


.owl-carousel{
    width:1000px !important;  
}


.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    font-size: 50px !important;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.gallery-alt-text{
    display: flex;
    font-size: 20px;
    font-weight: 400;
}

.menu-gallery-button{
    display: flex;
    width: 100%;
    margin-left: 75px;
    justify-content: flex-end;
}

.menu-gallery-button button{
    background-color:#3EB549;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 400;
    border-radius: 54px;
    width: 260px;
    height: 56px;
}

.menu-gallery-button button:hover{
    background-color: #34973e;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 7%);
}
.carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
  }
  .owl-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
  }

  .owl-dots{
      display: none;
  }

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
      background: #2caae1;
  }


  .owl-carousel .item {
      text-align: center;
      height: 200px;

  }
  .owl-carousel .nav-btn{
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 100px !important;
  }



  .owl-carousel .prev-slide{
    background: url(http://cdn.onlinewebfonts.com/svg/img_98761.png) no-repeat scroll -24px 0px;
    left: -33px;
    transform: rotate(180deg);
      background-position: center;
        background-size: cover;
        background-color: white;
        left: -70px;

  }
  .owl-carousel .next-slide{
      background: url(http://cdn.onlinewebfonts.com/svg/img_98761.png) no-repeat scroll -24px 0px;
      background-position: center;
      background-position: center;
      background-size: cover;
      right: -70px;
  }


  span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
  }
  span.img-text:hover {
    color: #2caae1;
  }
 /* IMAGE SECTION */




 /* ABOUT US SECTION */

  .menu-about-us{
      display: flex;
      width: 100%;
      height: 560px;
  }

  .about-banner{
      display: flex;
      width: 60%;
      font-size: 64px;
      font-weight: 500;
      align-items: center;
     justify-content: center;
      background-color: #3EB549;
      color: white;
    
}
  .about-us-more{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
 }

 .about-us-more img{
     width: 100%;
     height: 100%;
 }

.about-us-info{
     display: flex;
     position: absolute;
     color: white;
     flex-direction: column;
 }

 .about-us-banner-title{
    font-size: 36px;
    font-weight: 400;
 }

 .about-us-button button{
    border: none;
    background-color: #3EB549;
    border-radius: 54px;
    font-size: 20px;
    font-weight: 400;
    width: 260px;
    height: 56px;
    color: white;
 }
 .about-us-button button:hover{
    background-color: #34973e;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 7%);
 }

 /* ABOUT US SECTION */

 /* ABOUT US SECTION */

.menu-new-things{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 800px;
    background: #E5E5E5;

    
}

.new-things-header{
    font-size: 64px;
    font-weight: 500;
}

.new-things-post{
    display: flex;
    width: 100%;
    justify-content: center;
}

.col-post{
    display: flex;
    flex-direction: column;
}
.inner-post{
    display: flex;
}


.card{
    display: flex;
    align-items: flex-end;
}

.card-box{
    padding: 20px;


}
.card-img-top{
    height: 200px;
    width: 400px;
}

.card-body{
    background-color: #1F344F;
    color: white;
}
.card-title{
    font-size: 24px;
    font-weight: 400;
}
.card-title a{
    text-decoration:none;
    color:white;
    font-size: 24px;
    font-weight: 700;
}
.card-title a:hover{
    text-decoration: none;
}
.card-text{
    font-size: 20px;
    font-weight: 400;
}


.card-time{
    margin-right: 30px !important;
    margin-top: 160px !important;
    position: absolute;
}

.card-time p{
    line-height: 1.1;
    margin-top: 1px;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 1px;
    font-weight: 400;
    font-size: 20px;
}

@media (min-width: 768px){
    .col-md-6 {
        -webkit-box-flex: 0;
        /* flex: 0 0 0% !important; */
        max-width: 50% !important;
    }
}

.time-border{
    height: 78px;
    width: 78px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    border-radius: 50%;
    border: solid 3px #1F344F;
}

.new-things-button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.new-things-button button{
    background-color: #1F344F;
    border:none;
    font-size: 20px;
    font-weight: 400;
    height: 56px;
    width: 260px;
    border-radius: 54px;
    color: white;
}

.new-things-button button:hover{
    background-color: #121d2e;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 7%);
}

  /* NEW THINGS SECTION */

/* ABOUT US SECTION */
.about-us-main{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.about-us-header-image{
    display: flex;
    width: 100%;
    height: 229px;
    align-items: center;
}

.about-us-header-image img{
    width: 100%;
    height: 229px;
}

.about-us-header{
    font-size: 64px;
    position: absolute;
    font-weight: 600;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
}


.about-us-main-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
}

.text-n-image{
    width: 90%;
    display: flex;
    padding: 50px;
}

.text-n-image h2, p{
    padding: 15px;
}


.text-n-image-2{
    width: 90%;
    display: flex;
    padding: 50px;
}

.text-n-image-2 h2, p{
    padding: 15px;
}

.double{
    display: flex;
    flex-direction: column;
    height: 610px;
    width: 610px;
    padding: 20px;

}

.double-image-2 img{
    width: 505px;
    height: 290px;
    position: absolute;
    
}

.partners{
    display: flex;
    width: 100%;
    background: #EBEBEB;
    height: 174px;
    align-items: center;
    justify-content: space-around;
}
.main-circle-partners{
    border-radius: 50%;
    width: 100px;
    display: flex;
    height: 100px;
}
.partner-image img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 0;
    object-fit: cover;
    object-position: center;
}


.strange-p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    background: #3EB549;
    padding: 55px;

}

.strange-percent-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: white;
}

.strange-percent-text p{
    font-size: 64px;
    font-weight: 600;
}

.strange-percent-text h6{
    font-size: 36px;
    font-weight: 700;
}
/* ABOUT US SECTION */

/* Product page items */
.products-main{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}



.products-header-image{
    display: flex;
    width: 100%;
    height: 229px;
    align-items: center;
}

.products-header-image img{
    width: 100%;
    height: 229px;
    object-fit: cover;
    
}

.products-header{
    font-size: 64px;
    position: absolute;
    font-weight: 600;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
}

.product-table{
    display: flex;
    width: 100%;
    background: #E5E5E5;
}

.product-column{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;

}

.product-item{
    display: flex;
    width: 296.24px !important;
    height: 288.83px;
    margin-top: 20px;
    background-color: #3EB549;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 19px;
}


@media (min-width: 768px){
.col-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 0% !important; 
    max-width: 50% !important;
    }
}

.producto{
    border: 20px;
    width: 280px;
    height: 288.83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEEEEE;
}
.producto h6{
    font-size: 20px;
    font-weight: 700;
}
.producto p{
    font-size: 16px;
    font-weight: 400;
    line-height: 0.1;
    margin-bottom: 0rem;
}


/* Product page items */

/* Main-posting */

.main-posting{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #E5E5E5;
}


.posts-header-image{
    display: flex;
    width: 100%;
    height: 229px;
    align-items: center;
}

.posts-header-image img{
    width: 100%;
    height: 229px;
    object-fit: cover;
}

.posts-header{
    font-size: 64px;
    position: absolute;
    font-weight: 600;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
}

.posting{
    display: flex;
    width: 90%;
    justify-content: center;

}
.post-aligner{
    justify-content: center !important;
    width: 100%;
}
.card-body-bg{
    background-color: #3EB549;
}

.time-border-main{
    height: 78px;
    width: 78px;
    display: flex;
    background-color: white;
    justify-content: center;
    border-radius: 50%;
    border: solid 3px#3EB549;
}


/* Main-posting */

.post-insider{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #E5E5E5;
}

.inner-m-post{
    display: flex;
    width: 90%;
    flex-direction: column;
}

.post-img-header{
    display: flex;
    width: 100%;
    justify-content: center;
}

.post-img-header img{
    display: flex;
    width: 100%;
}
.post-title{
    display: flex;
    width: 100%;
    color: black;
    font-size: 36px;
    font-weight: 700;
}

.time-breaker{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-body{
    display: flex;
    align-items: center;
    width: 90%;

}


/*Main-posting */


/*GALLERY*/

.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.gallery-post{
    display: flex;
    justify-content: center;
    width: 90%;
}

/*GALLERY*/


/*CONTACT*/

.contact-main{
    display: flex;
    width: 100%;
    height: 400px;
    background: #E5E5E5;

    justify-content: center;
}

@media (max-width: 1368px){
.contact-main{
    height: auto;
    }    
}

.contact-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin-top: 20px;
    background: #EEEEEE;
    justify-content: space-evenly;

}
.contact-item{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 25px;
    align-items: flex-start;
}
.contact-item p{
    font-family: Fira Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    

}

.contact-icon{
    background: #3EB549;
    /* display: flex; */
    border-radius: 50%;
    width: auto;
    padding: 20px;
    margin: 10px;
}

.online-app{
    display: flex;
    background: #E5E5E5;

    width: 100%;
    justify-content: center;
}

.main-tel{
    display: flex;
    width: 90%;
    margin-top: 40px;
}

.contact-form{
    display: flex;
    padding: 25px;
    flex-direction: column;
    width: 100%;
}
.form-header{
    font-weight: 700;
    font-size: 36px;
}
.main-form{
    display: flex;
    flex-direction: column;
}
.sbs-input{
    display: flex;
    flex-direction: row;

}
.main-form input{
    font-size: 20px;
    font-weight: 400px;
    background: #EEEEEE;
    border-radius: 4px;
    width: 45%;
    margin: 20px;
    padding: 20px;
    color: black;
}
.main-form textarea{
    width: 90%;
    margin-left: 20px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    color: black;
}
.main-form-button{
    display: flex;
    padding: 20px;
    justify-content: flex-end;
}
.main-form-button button{

    background-color: #1F344F;
    border: none;
    font-size: 20px;
    font-weight: 400;
    height: 56px;
    width: 260px;
    border-radius: 54px;
    color: white;
}

.main-form-button button:hover{
    background-color: #121d2e;

}   
/*CONTACT*/



footer{
    width: 100%;
    
}

.footer-part-1{
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;

}

.footer-column-1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30%;
}






.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img{
    height: 131px;
    width: 308px;
}

.footer-column-alt-1{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black !important;
}

.footer-column-alt-1 a{
    color: black;
}
.footer-column-alt-1 a:hover{
    text-decoration: none;
}  
.footer-column-alt-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
    font-weight: 400;
    padding: 20px;
    color: black !important;
}

.footer-column-alt-2 a{
    color: black !important;
}

.footer-column-alt-2  a:hover{
    text-decoration: none;
}  

.footer-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 308px;
}

.footer-email p{
    font-weight: 500;
    font-size: 24px;
}

.footer-email input{
    border: none;
    height: 66px;
    border-radius: 100px;
    background-color: #E2E2E2;
    color: black;


}
.mail-arrow{
    background-color: yellow;
    background: url(http://cdn.onlinewebfonts.com/svg/img_98761.png) no-repeat scroll -24px 0px;
    background-position: center;
    background-size: cover;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    /* right: -70px; */

}
.max-mail{
    background: #3EB549;
    border-radius: 50%;
    position: absolute;
    margin-bottom: -82px;
    margin-left: 240px;
    width: 78px;
    height: 78px;
}

.max-mail:hover{
    background: green;
}

  .footer-part-2{
      width: 100%;
      display: flex;
      height: 200px;
      align-items: center;

  }
  .footer-part-2 img{
    width: 100%;
    position: relative;
    height: 200px;
}



.footer-icon{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    position: absolute;
    
}

.icon-bg {
    display: flex;
    
}


.inner-insta{
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 13px;
    margin-top: 15px;
    position: absolute;
}

.inner-insta img{
    width: 34px;
    height: 29px;
}
.circle-of-insta{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    height: 10px;
    width:10px;
    margin-top: -35px;
    margin-left: 25px;
    position: absolute;
}


.wp-back img{
    position: absolute;
    width: 60px;
    height: 59px;
    
}

.inner-wp img{
    position: absolute;
    height: 33px;
    width: 32px;
    margin-left: 14px;
    margin-top: 11.5px;
}

/* RESPONSIVE DESIGN 4 LIFE*/

@media screen and (max-width:720px) {
    .strange-p{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }
    
    .footer-part-1 {
            width:100%; 
            justify-content: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: auto;
            padding: 20px;
        }

        .footer-column-1{
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
    
}

@media screen and (max-width:960px) {
    
    .strange-p{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }
    
    .footer-part-1{
        display: flex;
        width:100%; 
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .footer-column-1{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .footer-column-alt-2{
        align-items: center;
    }
    .footer-email{
        display: flex;
        flex-direction: column;
    }
    .online-app{
        display: flex;
        flex-direction: column;
        
    }

    .card-box{
        display: flex;
        justify-content: center;
    }

    .main-tel{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .contact-img{
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .contact-form{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .main-form{
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .sbs-input{
        flex-direction: column;
        width: 100%;
    }
    .sbs-input input{
        flex-direction: column;
        width: 100%;
    }
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(75, 54, 54);
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navigation {
        display: none;
        width: 100%;

    }

    .navigation ul {
        width: 100%;
        flex-direction: column;
    }

    .navigation li {
        text-align: center;
    }

    .navigation ul li a {
        padding: .5rem 1rem;
    }

    .navigation.active {
        display: flex;
        color:      
        black;
        background-color: blue;
    }

}